    /*UI07051988*/
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&amp;family=Lato:wght@300;400;700&amp;family=Montserrat:wght@300;400;500;600;700;800;900&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap');
    * { margin:0; padding:0; outline:0; box-sizing:border-box;}
    .nobdr { border:none !important; }
    .nobg { background:none !important; }
    .nobdr_top { border-top:none !important; }
    .nomargin { margin:0px !important; }
    .nomargin-top{margin-top:0 !important;}
    .nomargin-left { margin-left:0px !important; }
    .nomargin-right { margin-right:0px !important; }
    .nopadding { padding:0px !important; }
    .alignbottom { vertical-align:text-top;}
    img {height: auto;  border:0;}
    ul { list-style-type:none; padding:0; margin:0;}
    ul li { list-style:none; padding:0; margin:0; font-size: 1.6rem;}
    a { text-decoration:none; outline:none;color: #000;transition: 0.5s;font-size: 1.6rem;}
    a:hover{text-decoration: none !important;color: #000;}
    img{transition: 0.5s;}
    figure{margin: 0;}
    aside, details, figcaption, figure, ins, summary, small, mark, title, video, footer, header, hgroup, nav, section, article { display: block; }
    span{display: block;}
    .clear { padding:0; margin:0; clear:both; }
    h1, h2, h3, h4, h5, h6, p { padding:0; margin:0;}
    h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat';}
    p{font-family: 'Open Sans';}
    p:empty{display: none;}
    html, body { width: 100%; padding: 0; margin: 0;font-family: 'Montserrat', sans-serif; height: 100%;font-size: 62.5%;color: #212529;}
    body{overflow-x: hidden;}
    .cf:before,.cf:after {content: " "; display: table;}
    .cf:after {clear: both;}
    .cf {zoom: 1;}
    :root{
    --fontcolor: #000;
    --colorwhite:#fff;
    --bluecolor:#00348C;
    --grey:#ddd;
    --black: #000;
    --flex: flex;
    }
    main {margin-top: 14rem;}
    /*img-zoom iffect*/
    /*.img-zoom img{transition:all 1.1s ease 0s;}
    .img-zoom figure{overflow: hidden;position: relative;}
    .img-zoom a:hover img, .img-zoom figure:hover img{transform: scale(1.1) rotate(1deg);}*/
    /*img-zoom iffect*/
    
    /*lightbox*/
    body .lb-data .lb-details{width: 92%;}
    body .lightbox .lb-data .lb-close {background: url(../images/close.svg) top right / 100% no-repeat;margin-right: 30px;}
    body .lightbox .lb-nav a.lb-next {background: url(../images/light-next.svg) left 48% / 100% no-repeat; opacity: 1;width: 45px;margin-right: -25px;}
    body .lightbox .lb-nav a.lb-prev {background: url(../images/light-prev.svg) left 48% / 100% no-repeat;opacity: 1;width: 45px;margin-left: -25px;}
    body .lightboxOverlay {background: url(../images/bg.jpg) repeat;}
    body .lightbox .lb-image{border-width: 25px;}
    body .lb-data .lb-caption{font-size: 21px;color: #282828;line-height: 28px;font-weight: normal;padding:0 35px 35px;display: block;}
    body .lb-data .lb-number{display: none!important;}
    body .lb-dataContainer{background: #fff;margin-top: -5px;}
    /*lightbox*/
    
    p{font-size: 1.6rem;line-height: 2.4rem;font-family: 'Open Sans', sans-serif;color: var(--fontcolor);transition: 0.5s;}
    p {font-size: 16px;}
    label{font-family: 'Open Sans', sans-serif;}
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0; }
    input[type=number] {-moz-appearance: textfield;}
    
    .owl-nav button{width: 3rem;height: 3rem;background: #fff!important;border-radius: 100%;box-shadow: 0 0 1rem #ddd;margin: .8rem;transition: 0.3s;}
    .owl-nav button span{font-size: 2.5rem;line-height: 1.5rem;font-weight: 500;height: 2rem;}
    
    .owl-nav button:hover{background: #FCCF14 !important;box-shadow: none;}
    body #__eedivChatMain #eeChatContainer #eeChatIndicator .indicator p:empty {
        display: block!important;
    }
    /*notification*/
    
    .notif-head {text-align: right;margin-bottom: 2rem;position: relative;}
    .notif-head::before {background: #666666a1;width: 75%;height: .1rem;position: absolute;left: 0;top: 0;content: '';bottom: 0;margin: auto;}
    .notif-head a{font-size: 2.4rem;font-weight: 700;color: #000;}
    .notification {position: fixed;right: 0;bottom: 0;z-index: 9;width: 100%;text-align: right;}
    .notification > a {background: #000;display: inline-block;padding: 1rem 3rem;color: #fff;font-size: 2.4rem;}
    .notification > a:hover{background: #D93E3E;}
    .notification img{margin-left: 1rem;transition: 0.5s;}
    .notification > a:hover img{transform: translateY(-.5rem);}
    .notif-popup {text-align: left; position: fixed;bottom: 0;background: #F3F0E8;width: 110rem; height: 100vh;right: 0;padding: 8.5rem;transform: translateX(100%);
    transition: 0.5s;opacity: 0;overflow-y: auto;z-index: 9999;}
    .notif-popup.open-slide {transform: translateX(0); opacity: 1;}
    .notif-inn {display: flex;flex-wrap: wrap;justify-content: space-between;}
    .notif-box {width: 45%;padding: 2rem 1rem 2.5rem 0;border-bottom: .1rem solid #ccc;}
    .notif-box a{font-size: 1.8rem;line-height: 2.5rem;display: inline;}
    .notif-box a:hover {background: #FCCF14;}
    .box-top span{color: #000;display: initial;}
    .box-top span:last-child{padding: 0 .5rem;}
    .box-top + p{padding: 1rem 0 2rem; color: #808080;}
    .notif-inn .notif-box:nth-last-child(2), .notif-inn .notif-box:last-child{border: 0;}
    .notification.open-slide {z-index: 999;}
    .all-notif {text-align: right;padding: 4rem 0 0;}
    .all-notif a {font-size: 1.6rem;font-weight: 600;font-style: italic;display: inline-block;}
    .notif-box p {
        font-weight: 700;margin-bottom: 1rem;
    }
    
    /*notification*/
    
    /*Placements*/
    .placements-sec {background: #F5F5F5;padding: 5.5rem 0 2.5rem 0;}
    .placements-sec h2{margin-bottom: 1rem;}
    .recruiters span{font-size: 2.1rem;font-weight: 700;}
    .placements-sec .row{margin: 2rem 0;}
    .placements-sec .col-md-5{display: flex;flex-wrap: wrap;align-items: flex-start;align-content: space-between;}
    .placements-sec .col-md-5 figure{width: 31%;padding: 1.1rem;background: #fff;margin: 5px 1%;}
    .slider-placem{display: flex;flex-wrap: wrap;background: #fff;}
    .story-text {padding: 2rem 4.5rem;width: 62%;position: relative;}
    .story-text:before{background: url(../images/quote-icon.svg) no-repeat;width: 7rem;height: 7rem;position: absolute;top: -3rem;left: 10%;content: '';}
    .story-text blockquote{font-size: 2.4rem;line-height: 3.5rem; font-weight: 300;margin-top: 3rem;}
    .story-text p{font-style: italic;padding: 1.5rem 10rem 1.5rem 0rem;}
    .story-image {width: 38%;margin: -2rem;}
    .recruiters {display: flex;align-items: center;padding-bottom: 2rem;}
    .recruiters span {font-size: 2.1rem;font-weight: 700;margin-right: 2rem;}
    .placement-counter {display: flex;justify-content: space-between;flex-wrap: wrap;padding: 4rem 0;border-bottom: .1rem solid #ddd;}
    .placement-counter-1 {display: flex;flex-wrap: wrap;padding: 4rem 0;border-bottom: .1rem solid #ccc;}
    .placement-counter .life-count {width: 25%;padding: 0 6rem;}
    .placement-counter .life-count p {font: 500 2.1rem/ 2.6rem'Montserrat', sans-serif;
text-align: left;}
    .placement-counter .life-count strong{font-weight: 800;font-size: 4.8rem;}
    .placement-counter .life-count:nth-child(2) strong{color: #108690;}
    .placement-counter .life-count:nth-child(4) strong{color: #F5A302;}
    .placements-sec .carousel-inner{overflow: visible;}
    .story-text a{height: auto;}
    .placements-sec .carousel-fade .carousel-item{background: #fff;height: 100%;}
    
    /*Placements*/
    
    /*Happenings*/
    .happenings-sec {background: #F5F5F5;padding: 4rem 0 0rem;margin: auto;}
    .happenings-sec.chmsr_happening_section{padding: 5rem 0 1.5rem;}
    .happenings-sec .happening_section {  max-width: 1920px; margin: 0 auto;}
    .happenings-sec h2{margin-bottom: 1rem;}
    .comm-head a{font-size: 1.6rem;font-weight: 600;font-style: italic;font-family: 'Open Sans', sans-serif;margin-top: 2rem;color: #000;}
    .happenings-sec .row a{position: relative;height: 43rem;}
    .happenings-sec .row figure{height: 100%!important;  width: 100%;background-size: cover!important;}
    .happenings-sec .row img{width: 100%;height: 600px;object-fit: cover;}
    /* .news-text {position: absolute;left: 0;bottom: 0;width: 100%;background: url(../images/news-bg.png) repeat-x;padding: 5rem;color: #fff;} */


    /* UI16081996 start */
    .news-text { position: absolute;left: 0;bottom: 0; width: 100%; height: 25%; background: #000; padding: 3rem;color: #fff; filter: opacity(0.9);}
    .eventbox .news-text { width: 50%; }
    .item.img-zoom img {
        width: 424px;
        height: 350px;
    }
    .visitor p {
        font-size: 2rem;
        padding: 3rem;
    }
    section.visitor p span {
        padding-left: 1rem;
    }
    .apply.tankyou_btn a {
        background: #f6d12e !important;
        padding: 1rem;
        font-weight: 500;
        border-radius: 0.5rem;
    }
    .apply.tankyou_btn {
        text-align: center;
        margin-bottom: 8rem;
    }

    /* UI16081996 end */

    .news-text p{color: #fff;font-size: 1.8rem;}
    .happenings-sec .row a span{font-size: 1.6rem;font-weight: bold;padding: 0 0 1rem;display: inline-block;margin-bottom: 1.5rem;border-bottom: .2rem solid #ffffff96;color: #fff;}
    .happenings-sec small {position: absolute;right: 0;top: 6rem;background: #fff;font-size: 1.6rem;padding: .8rem 1.5rem;transition: 0.5s;}
    .happenings-sec .row a:hover small{background: #1D1E4E;color: #fff;}
    .news-inn-box {height: 600px;padding: 7rem 5rem;}
    .red-news {background: #D93E3E;}
    .yellow-news{background:#F5A302;}
    .happenings-sec blockquote{font-size: 3rem;line-height: 3.6rem;color: #fff;}
    .campus_news_home{padding-bottom: 1.5rem;}
    .campus_news_home .row{height: 100%;}
    
    section.happenings-sec .comm-head + .row{margin: 0;}
    
    
    
    /*Happenings*/
    
    /*Testimonials*/
    .testimonials{padding: 10rem 0;}
    .testimonials .comm-head{text-align: left;display: flex;justify-content: space-between;align-items: center;max-width: 100%;}
    .testimonials .comm-head label{font-size: 2.4rem;padding:0 2rem;border-left: .1rem solid #aeaeae;font-weight: 500;color: #108690;cursor: pointer;}
    .testimonials .comm-head li:first-child label{border-left: 0;}
    .testimonials .comm-head label.active{color: #F5A302;}
    .testi-text {background: #F5F5F5;padding: 0rem 3rem 5rem;border-top: 1rem solid #FCCF14;width: 90%;margin-left: auto;margin-top: -7rem;position: relative; height:270px;}
    .testi-text blockquote {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .testi-text p{color: #313131;margin-top: 1.5rem;}
    .testimo-slide .owl-nav {text-align: center;margin: 8rem 0 0;}
    .testimo-slide .owl-nav button, .campuses-slide .owl-nav button{width: 3rem;height: 3rem;background: #fff;border-radius: 100%;box-shadow: 0 0 1rem #ddd;margin: .8rem;transition: 0.3s;}
    .testimo-slide .owl-nav button span, .campuses-slide .owl-nav button span{font-size: 2.5rem;line-height: 1.5rem;font-weight: 500;height: 2rem;}
    .testimonials .tab-content .item a:before{background: url(../images/yellow-btn.svg)no-repeat 90% top;width: 4rem;height: 4rem;position: absolute;right: 3rem;top:3rem;content: '';z-index: 9;}
    .testimo-slide .owl-nav button:hover, .campuses-slide .owl-nav button:hover{background: #FCCF14!important;box-shadow: none;}
    /*Testimonials*/
    
    /*campuses-slide*/
    /*.campuses-slide{width: 85.5%;margin-left: auto;}*/
    .campuses-slide .caption {position: absolute;bottom: 2rem;left: 2rem;background: #fff;display: flex;align-items: center;padding: 1.5rem 3rem;transition: 0.3s;}
    .campuses-slide .caption span{font-size: 3.6rem;font-weight: 800;margin-right: 1rem;line-height: 3.6rem;}
    .campuses-slide .caption p{font-weight: 700;padding: 0;}
    .campuses-slide .owl-nav {text-align: left;margin: 4rem 0 0;}
    .campuses-slide .owl-item .item{position: relative;}
    .campuses-slide .owl-item .item:hover .caption{background: #FCCF14;}
    .campuses-slide .owl-item.active + div:before{background: #000;position: absolute;width: 100%;height: 100%;left: 0;top: 0;content: '';opacity: 0.56;z-index: 9;}
    .campuses-slide {width: 1640px;}
    .campus-slider{overflow: hidden;}
    /*campuses-slide*/
    
    /*social-wall*/
    .social-wall {padding: 0 0 10rem;}
    .social-wall .col-md-6{padding: 2rem;}
    .social-wall h3{text-align: center;margin-bottom: 5rem;cursor: pointer;}
    .social-wall a{position: relative;}
    .wall-text {position: absolute;left: 0;top: 0;z-index: 9;width: 100%; display: flex;justify-content: space-between;padding: 0.4rem 1.5rem 0.6rem 3rem;
        align-items: center;
        background: #000;
        filter: opacity(0.8);}
    .wall-text span{font-size: 1.6rem;font-weight: bold;color: #fff;}
    .social-wall figcaption {position: absolute;bottom: 0; padding: 2rem;color: #fff; background-image: linear-gradient(#00000042, #020202);}
    .wall-blue a{background: #1DA1F2;height: 100%;padding: 9rem 3rem 0;min-height: 36rem;}
    .wall-blue a p{padding: 0 0 3rem;color: #fff;}
    .wall-blue .name-wall{font-size: 1.6rem;font-weight: bold;color: #fff;}
    .wall-blue .name-wall small{font-weight: 400;font-style: italic;}
    .social-wall .col-md-5{padding: 2rem;}
    .social-wall .col-md-5 a{background: #F1F1F1;height: 100%;padding: 0;}
    /* .social-wall .col-md-5 .wall-text span{color: #000;} */
    .social-wall .col-md-5 p{position: absolute;bottom: 5rem;}
    
    .social-wall h3 img{transition: 0.5s;transform: rotate(270deg);-webkit-transform: rotate(270deg);filter: grayscale(1);}
    .social-wall h3.collapsed img{transform: rotate(90deg);-webkit-transform: rotate(90deg);filter: none;}
    
    .card-header{display: none;}
    
    /*.happ_home figure {
        height: 483px!important;
        background-size: cover;
    }*/
    
    .about_pune_city .col-xl-5 { max-width: 560px;background: #fff;}
    .about_pune_city:after {position: absolute;content: "";width: 100%;height: 61%;right: 0;bottom: 30px;background-color: #033C59;z-index: -1;}
    .innerpune_city {
        padding: 0px 0px 53px 8rem;
        background: #fff;
    }
    
    .table-circulam-dd.faculty_data .table-admision table.table {
        border: solid 1px #f7f5f5;
    }
    .table-circulam-dd.faculty_data td, .table-circulam-dd.faculty_data th {
        text-align: left;
        font-size: 14px;
        padding: 10px;
    }
    .testi-details h5 span abbr {
        display: block;
        font-size: 14px;
    }
    
    /*faculties-COE*/
    .faculties-COE{padding: 10rem 0;}
    .faculties-COE h2{text-align: center;margin-bottom: 6rem;}
    .item-bx-text span{font-size: 2.1rem;font-weight: 500;display: block;margin-bottom: .5rem;}
    .item-bx-text {padding: 3rem 0;}
    .faculties-ceo-slider .owl-nav{text-align: center;}
    .faculties-COE a figure{ max-height: 45rem;overflow: hidden;}
    #__eedivChatMain #__eechatIcon {bottom: 80px!important;}
    #__eedivChatMain #eeChatContainer #eeChatIndicator .indicator {bottom: 85px!important;  right: 70px!important; padding:35px!important}
    
    
    .course-search ul.wordWheel{width: 100%;top: 100%;}
    .inner_common_menu {
      background: #f9f9f9;
      position: sticky;
      width: 100%;
      z-index: 91;
      top: 15rem;
      box-shadow: 0 15px 10px -16px #eeeeeec4;
    }
    .inner_common_menu.sticky {
        background: #f9f9f9;
        position: sticky;
        width: 100%;
        z-index: 99;
        top: 13.2rem;
        box-shadow: 0 15px 10px -16px #eeeeeec4;
    }
    .counts strong b{font-weight:bold;}
    .course-numeric-count strong b{font-weight:bold;}
    
    
    /* .leader_messagcontent::before{
        content: "";
        width: 112px;
        height: 88px;
        position: absolute;
        top: -12rem;
        left: 1rem;
        background: url(../images/quote.svg);
        background-repeat: no-repeat;
        z-index: -1;
        background-size: contain;
    }
     */
     .contact-map {margin-top: 6rem;}
    body.scroll{overflow-y: hidden;}
    ul.ul_full.ul_2 {display: flex;flex-wrap: wrap;}
    ul.ul_full.ul_2 li {width: 50%;}
    .course-listing-search-area.sticky{position: fixed;top: -1.5rem;width: 100%;z-index: 9;padding-bottom: 0;}
     .sticky .course-link ul li a.active, .sticky .course-link ul li a, .sticky .course-link ul li a:hover{padding-bottom: 1rem;}
    
     .chat_bot {
        display: none;
    }
    .chat_bot {
        position: fixed;
        bottom: 60px;
        width: 90px;
        height: 51px;
        right: 0; z-index:999;
    }
    a.cta__mail.admission_eng {
        display: inline-block;
        color: #000;
        margin-bottom: 5px;
        font-family: 'Montserrat';
        font-weight: 500;
        background: #f1d23d;
        padding: 0.4rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        margin-left: 10px;
    }
     .cta_notify{display: none;}
    
    @media (min-width: 1400px) and (max-width: 4000px){
    .container{max-width: 1366px;}
    .about_pune_city:after{position: absolute;content: "";width: 100%;height: 59%;right: 0;bottom: 31px;background-color: #033C59;z-index: -1;}
    
    
    }
    
    
    /* @media (min-width: 1920px){
    .inner_common_menu.sticky {
        top: 13rem !important;
    }
    .inner_common_menu {
        
        top: 14rem;
       
    }
    }
     */
    /* @media (max-width: 1799px){
    .inner_common_menu{top: 15rem;}
    .inner_common_menu.sticky{top: 15rem;}
    
    } */
    
    
    
    @media (max-width: 1649px){
    /*happenings-sec*/
    .happenings-sec blockquote {font-size: 1.6rem;line-height: 3rem;margin: 1rem 0 0;line-height: 2.5rem;text-align: left;}
    .news-text{padding: 3rem; height: 32%;}
    main {margin-top: 14rem;}
    /* .inner_common_menu{top: 13.2rem;} */
    
    }
    
    @media (max-width: 1500px){
    main { margin-top: 11.5rem;}
    /* .inner_common_menu{top: 14.5rem;}
    .inner_common_menu.sticky{top: 12rem;} */
    .inner-header.rgiibt.microsite_header .inner_common_menu.sticky {
        top: 11rem;
    }
    .course-listing-search-area.sticky {
      top: -3.5rem;
    }
    }
    
    
    @media (max-width: 1399px){
    .course-listing-search-area.sticky {
      top: -2.5rem;
    }
    
    p, a, ul li {font-size: 1.5rem;}
    main {margin-top: 12rem;}
    .happenings-sec small {top:4rem;}
    
    /*campuses-slide*/
    .campuses-slide {width:1265px;}
    .campuses-slide .caption{padding: 1rem 2rem;}
    .campuses-slide .caption span {font-size: 2.5rem;}
    
    /*happenings-sec*/
    .news-inn-box {padding: 4rem 3rem; /*height:340px;*/}
    .happenings-sec title{top: 3rem;padding: .4rem 1.5rem;font-size: 1.5rem;}
    .news-text p{font-size: 1.5rem;line-height: 2rem;}
    .happenings-sec .row a span{font-size: 1.5rem;padding: 0 0 .5rem;margin-bottom: 1rem;}
    .happenings-sec{padding-bottom: 0;}
    /*happenings-sec*/
    
    /*Testimonials*/
    .testi-text{padding: 1rem 2rem 3rem;min-height: 273px;}
    .testi-text blockquote{font-size: 1.5rem;}
    .testi-text h4{font-size: 1.8rem;}
    .testimo-slide .owl-nav{margin-top: 4rem;}
    
    /*Placements*/
    .story-text{padding: 3rem 2rem;}
    .story-text blockquote {font-size: 1.8rem;line-height: 2.5rem;}
    .social-wall h3{margin-bottom: 2rem;}
    .happenings-sec .row a{height: 30rem;}
    .story-text p{padding-right: 2rem;}
    .faculties-COE h2{margin-bottom: 3rem;}
    .story-text::before {background-size: 100%;width: 5rem;}
    
    .wall-blue a{min-height: 30rem;}
    .wall-text span{font-size: 1.5rem;}
    
    /* .leader_messagcontent::before{width: 8rem;top: -12rem;} */
    
    }
    
    
    
    @media (max-width: 1366px){
    
    .happenings-sec .row figure {height: 340px;  }
    .news-inn-box {/*height: 340px;*/padding: 3rem 2rem;}
    .testimonial .col-md-6 a{min-height: 368px;}
    
    .programs-tab a.listing-apply-btn {
           font-size: 16px;
    }
    /* .inner_common_menu.sticky {
        top: 12rem;
    } */
    
    }
    
    @media (max-width: 1259px){
    main { margin-top: 9rem;}
    /* .inner_common_menu { top: 14rem;} */
    .header.inner-header.sticky {
        padding: 0.9rem 0;
    }
    }
    
    @media (max-width: 1199px){
    .social-wall .col-md-5, .social-wall .col-md-6 {padding: 1rem;}
    .social-wall a{height: 100%;}
    .social-wall .col-md-7 a figure{height: 100%;}
    .social-wall .col-md-7 a figure img{height: 100%;width: 100%;object-fit: cover;}
    
    .campuses-slide { width: 1035px;}
    .happenings-sec{padding: 0;}
    .testi-text blockquote{margin: 1rem 0;font-weight: normal;}
    .testi-text, .testi-text blockquote{font-size: 1.4rem;}
    main { margin-top: 9.5rem;}
    /* .inner_common_menu { top: 14rem;} */
    header.header.inner-header.doem.microsite_header .inner_common_menu {
        top: 13rem;
    }
    .header.inner-header.sticky {
        padding: 0.9rem 0;
    }
    }
    /* @media (max-width:1024px){
        .inner_common_menu {
        top: 13.6rem;
    }
    } */
    
    @media (max-width: 991px){
    .course-listing-search-area.sticky{position: static;}
    .chat_bot {
        display: none;
    }
    main {margin-top: 14rem;}
    .campuses-slide .owl-nav {position: absolute;top: 0;bottom: 0;margin: auto;height: 5rem;width: 100%; display: flex;justify-content: space-between;}
    .campuses-slide .owl-nav button{background: #fff!important;}
    .campuses-slide .caption {padding: 0.5rem 1rem;bottom: 1rem;}
    
    .placements-sec .col-md-5 figure{width: 50%;}
    .story-text blockquote { font-size: 1.6rem; line-height: 2rem;}
    .story-text p{padding: 1rem 0 1em 0;}
    .placement-counter{display: none;}
    .recruiters{justify-content: center;padding-bottom: 4rem;}
    .placements-sec .row {margin: 0;}
    .placements-sec .col-md-5{display: none;}
    .placements-sec .col-md-7{width: 100%;}
    
    .happenings-sec .col-md-6{width: 100%;padding-bottom: 1.5rem;}
    .happenings-sec .col-md-6 .row .col-md-6{width: 50%;padding-bottom: 0rem;}
    
    .social-wall h3{margin-bottom: 2rem;}
    .social-wall .col-md-5, .social-wall .col-md-7{width: 100%;}
    
    .wall-blue a{padding-bottom: 3rem;min-height: auto;}
    .recruiters span{font-size: 1.8rem;}
    ul li{font-size: 1.5rem;}
    .item-bx-text span{font-size: 1.8rem;line-height: 2.5rem;}
    .testimonials .comm-head label {
        font-size: 2.1rem;
    }
    .news-text {
        padding: 3rem;
        height: auto;
    }
    
    .table_sec.research_table table thead {border: none;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
    .table_sec.research_table table td{display: block;text-align: right;width: 100% !important;background: #FBF5F599 !important;padding: 5px 15px;border-width: 1px;display: flex;
    justify-content: space-between;align-items: center;position: relative;font-size: 1.2rem;line-height: 1.6rem;}
    .table_sec.research_table table td::before{content: attr(data-label);float: left; font-weight: 500;font-size: 12px;color: #A80F18;text-align: left;line-height: 1.5rem;}
    .table_sec.research_table table tr{display: block;margin-bottom: 10px;/* border: 1px solid #F2E4E4; */}
    .table_sec.research_table table { white-space: normal;background: #fff;}
    .table_sec.research_table table td a{font-size: 1.2rem;}
    
    .leader_messagcontent::before, .leader_messagcontent::after {display: none;}
    
    .course-listing-search-area { background-color: #fff; padding: 0;}
    .course-listing-search { padding: 0;}
    section.course-listing-search-area .course-listing-search ul.wordWheel{width: 96%;top: 100%;}
    .course-listing-search ul.wordWheel li{font-size: 13px;}
    .download-btn{width:100%;margin-bottom: 1rem;}
    ul.ul_full.ul_2 li {width: 100%;}
     .cta_notify {
            position: fixed;
        right: 0;
        bottom: 38rem;
        z-index: 99;
        display: block;
     }
    
     .cta_button {
                float: left;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
                width: 133px;
                height: 35px;
                background-color: #FCCF14;
                margin-top: 480px;
                margin-right: -52px;
                padding-top: 5px;
                -moz-border-radius: 0;
                border-radius: 0;
                transform: rotate(-90deg);
             }
    
    
    
    }
    @media (max-width:767px){
    
    .story-text::before {background-size: 5rem;}
    
    .happenings-sec .col-md-6{display: none;}
    .happenings-sec .col-md-6:first-child, .happenings-sec .col-md-6 .row .col-md-6{display: block;}
    .happenings-sec blockquote {font-size: 1.8rem;line-height: 2.4rem;}
    .happenings-sec small{display: none;}
    .red-news{background: #F5A302;}
    
    .testimonials .comm-head{flex-wrap: wrap;justify-content: center;}
    .testimonials .comm-head .nav{justify-content: center;width: 100%;padding-top: 2rem;}
    .testimonials .comm-head label{font-size: 1.6rem;line-height: 2rem;}
    .testi-text{width: 100%;padding: 2rem;margin: 0;}
    
    .social-wall {padding: 0 0 5rem;}
    .social-wall figcaption{font-size: 1.4rem;width: 100%;}
    
    .scroll-sec::-webkit-scrollbar{width:6px;}
    .scroll-sec::-webkit-scrollbar-track{background-color:#999;border-radius:10px;}
    .scroll-sec::-webkit-scrollbar-thumb{border-radius:10px;background:#FFDE00;}
    #__eedivChatMain #__eechatIcon {
      bottom: 166px !important;right: 8px !important;
    }
    .download-admissions-sec .Download_box span{width:80%;}
	
    }
    @media (max-width:575px){
    .row{--bs-gutter-x: 0rem;}
    .happenings-sec{padding: 0;}
    .happenings-sec .col-md-6 .row .col-md-6, .happenings-sec .col-md-6{width: 100%;padding-bottom: 0rem;}
    .story-text::before {display: none;}
    .testi-text{text-align: center;padding-bottom: 8rem;min-height: auto;height: auto;}
    .testi-text p{font-size: 1.2rem;margin-top: .5rem;line-height: 1.8rem;}
    .testi-text h4{font-size: 1.6rem;}
    .testimonials .tab-content .item a::before {bottom: 1rem;left: 0;margin: auto;top: unset;right: 0;}
    .testimo-slide .owl-nav {text-align: center;position: absolute;top: 25%;left: 0; right: 0;margin: auto;display: flex;justify-content: space-between;height: 5rem;}
    .testimo-slide.owl-carousel .owl-nav button{background: #fff;box-shadow: none;}
    main { margin-top: 0;}
    .happenings-sec .row a { height: auto;}
    body .lightbox .lb-nav a.lb-next{width: 25px;margin-right: 0;background-size: 100%;}
    body .lightbox .lb-nav a.lb-prev{width: 25px;margin-left: 0;background-size: 100%;}
    }
    .programs-tab a.listing-apply-btn {
        text-transform: capitalize;
    }
    
    a.listing-apply-btn.eng_now_btn.mt-4 {
        width: 230px;
        margin-left: 0;
    }
    .header .info-clause a { color: rgb(255, 255, 255);}
    .inner-header .info-clause a { color:#000;}
	/* .download-admissions-sec .Download_box{display: flex;} */
 

    .Download_box{
        display: flex;
        width:100%;
    }
    .Download_box a{
        width: 100%;
    }
    .Download_box a{
        flex-shrink: 1;
    }
    

  /* UI16081996 start */
  .news-text {padding: 3rem;  height: auto;}
#imgpopup { padding-top: .5rem;}
.close.agree {float: right; cursor: pointer;}
#boxes #dialog {width: 580px; height: auto; padding: 1.5rem; background-color: #ffffff; box-shadow: 0 0 1rem #ddd; position: fixed;text-align: center;
    align-items: center;justify-content: center;}
#mask {position: absolute; left: 0; top: 0;  z-index: 9000; background-color: #26262cbd;  display: none; width: 100%!important;}
#boxes .window { position: absolute; left: 0;  top: 0; width: 580px; height: 850px;  z-index: 9999; padding: 20px;  border-radius: 5px; text-align: center;
}
/* UI16081996 end */
.info-clause a.apply_now_top{
    color: #000 !important;
}
.img-bor{
    border: 1px solid #dddddd;
}
.foosd p{
    text-align: justify;
    color: #ffffff;
}
.foosd h4{
    color: #ffffff;
    font-size: 21px;
    padding-bottom: 20px;
}
.linsd a{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}
.foot-contact{
    padding: 0;
    margin: 0;
    position: relative;
    color: #333333;
    font-size: 16px;
}
.foot-contact p{
   color: #333333;
   line-height: 27px;
   font-weight: 500;
   text-align: left;
}
.foot-contact li a{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    display: contents;
}
.foot-contact li{
    line-height: 25px;
    padding-bottom: 10px;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
}
.foot-contact li i{
    float: left;
    width: 30px;
    line-height: 27px;
    font-size: 18px;
}
footer .foot-contact a::before{
    display: none;
}
.drt{
    padding-left: 30px;
}
footer .dsfdsfsd a{
     display: initial;
     color: #ffffff;
}
footer .dsfdsfsd p{
    color: #333333;
    font-size: 14px !important;
}
.dsfdsfsd{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .dsfdsfsd a::before{
    display: none;
}
.bg-box{
    background: #ffffff;
    padding: 20px;
    text-align: justify;
}
p{
    text-align: justify;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
}
.new-list li {
    line-height: 25px;
    padding-left: 30px;
    font-size: 16px;
    color: #333333;
    list-style: none;
    background-image: url(../images/lis.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: 400 !important;
}
.new-list {
    padding: 0;
    margin: 0;
}
.ov-h{
    overflow: hidden;
}
.foo-sec{
    position: relative;
    padding:3rem 3rem 0rem 0rem;
}
.foo-sec::before {
    content: "";
    position: absolute;
    left: 0px;
    background-color: #f6d12e;
    top: 0px;
    width: 32%;
    height: 100%;
}
.dsfdsfsd{
    position: relative;
}
.text-black{
    color: #333333 !important;
}
.tes{
    font-size: 16px !important;
    color: #333333 !important;
    font-weight: 700 !important;
}
.dsfdsfsd2{
    border-top:3px solid #f6d12e;
    position: absolute;
    width: 75%;
    right: 0;
    z-index: 9;
}
.mar-sec{
    background: #005479;
    padding: 25px;
}
.mar-sec marquee {
    padding-top: 50px;
    height: 250px;
    color: #ffffff;
    font-size: 16px;
}
.mar-sec h3{
    color: #ffffff;
}
.head-s h3::before {
    width: 7.5rem;
    height: 0.1rem;
    background: #FCCF14;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}
.head-s h3{
padding: 2rem 2rem 2rem 0rem;
    margin-bottom: 5rem !important; 
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
}
.dfdfsdf{
    padding-bottom: 30px;
}


.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  z-index: 999999;
  padding-top: 20px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
  font-size: 19px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
 @media only screen and (min-width: 300px) and (max-width: 767px)  {
 .mob-sec img{
    width: 230px;
 }
 .foo-sec::before {
    width: 100%;
 }
 footer a:hover{
    color: #333333 !important;
 }
}
.eerr p{
    text-align: left;
}
.bru-sec{
    background-image: url(../images/b11.jpg);
    background-size: cover;
}
.bru-sec3 .bru-sec{
    background-image: url(../images/b16.jpg);
    background-size: cover;
}
.bru-sec5 .bru-sec{
    background-image: url(../images/b17.jpg);
    background-size: cover;
}
.bru-sec6 .bru-sec{
    background-image: url(../images/b18.jpg);
    background-size: cover;
}
/* .bru-sec7 .bru-sec{
    background-image: url(../images/b19.jpg);
    background-size: cover;
} */
 .bru-sec7 .bru-sec{
    background-image: url(../images/bred.png);
    background-size: cover;
}
.bru-sec8 .bru-sec{
    background-image: url(../images/b20.jpg);
    background-size: cover;
}
.bru-sec9 .bru-sec{
    /* background-image: url(../images/b21.jpg); */
     background-image: url(../images/b22.png);
    background-size: cover;
}
.bru-sec10 .bru-sec{
    background-image: url(../images/b22.jpg);
    background-size: cover;
}
.bru-sec11 .bru-sec{
    background-image: url(../images/b23.jpg);
    background-size: cover;
}
.bru-sec12 .bru-sec{
    background-image: url(../images/b25.jpg);
    background-size: cover;
}
.bru-sec2{
    background:rgba(51,51,51,0.3);
    padding-top: 290px;
    padding-bottom: 30px;
}
.hostels_sec1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.res-h3 h3 {
    padding: 0rem 2rem 2rem 0rem;
    margin-bottom: 3rem;
}
.res-h3 h3::before {
    width: 7.5rem;
    height: 0.1rem;
    background: #FCCF14;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}
.bru-sec2 h3{
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 2px 2px #333333;
}
.bru-sec2 ul{
    padding: 0;
    margin: 0;
    text-align: right;
}
.bru-sec2 ul li{
    display: inline;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
    color: #ffffff;
    text-shadow: 2px 2px #333333;
}
.bru-sec2 ul li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 1399px){
.safety_security_box {
    padding: 30px;
}
}
.safety_security_box {
    background: #fff;
    padding: 40px;
    margin-left: -15px;
}
.vibrant_community_sec{
    position: relative;
}
.vibrant_community_sec:before {
    content: "";
    width: 100%;
    height: 81%;
    background: #FFE169;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
}
.cosdsdfsdf b{
    font-weight: 600;
}
.cosdsdfsdf h4{
    padding-bottom: 10px;
}
.leadership_message {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}
.leadership_message::before {
    content: "";
    width: 100%;
    height: 251px;
    position: absolute;
    top: 0;
    left: 0;
    background: #108690;
    z-index: -1;
}
@media (max-width: 1399px){
.leader_messagcontent {
    padding: 0 120px 88px 10px;
}
}
.leader_messagcontent {
    margin-top: 80px;
    position: relative;
    z-index: 1;
    padding: 0 0px 0px 0;
}
@media (max-width: 1399px){
.leader_messagcontent::before {
    width: 8rem;
    top: -12rem;
}
}
.leader_messagcontent::before {
    content: "";
    width: 112px;
    height: 88px;
    position: absolute;
    top: -12rem;
    left: 1rem;
    background: url(../images/quote.svg);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
}
.leadership_message h2{
    color: #ffffff;
}
.leader_messagcontent h3 {
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 160px;
    font-weight: 600;
    font: normal 28px/32px 'Open Sans';
    padding-top: 0.5rem;
}
.mess p{
    padding-bottom: 20px;
}
@media only screen and (max-width: 991px) {
    .mob-se h2{
        color: #333333;
    }
    .mob-se h3{
        color: #333333;
    }
    .leader_messagcontent h3{
        margin-bottom: 30px;
    }
}
table{
    font-size: 16px;
}
.table-act{
    background: #005479 !important;
    font-weight: bold;
    color: #ffffff;
}

.bosddsf{
    background: #005479;
    padding: 20px;
}
.new-lfo{
        padding: 1.3rem 1rem 1.5rem 2rem!important;
    font-size: 1.6rem;
        width: 100%;
    padding: 5px;
    border: 1px solid var(--ee-border-color);
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    border: 1px solid #dddddd;
}
.new-lfo2{
    padding: 1.3rem 1rem 1.5rem 2rem!important;
    font-size: 1.6rem;
        width: 100%;
    padding: 5px;
    border: 1px solid var(--ee-border-color);
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    border: 1px solid #dddddd;
    height: 120px;
}
.btn.btn-submit {
    font-size: 1.6rem;
    background: #FCCF14 !important;
    color: #000 !important;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    padding: 10px 30px;
}
.bosddsf h3{
    color: #ffffff;
}
.bosddsf .foot-contact li{
    color: #ffffff;
}
.bosddsf .foot-contact li a{
    color: #ffffff;
}
.bosddsf .foot-contact li p{
    color: #ffffff !important;
}
.d-maps{
    margin-bottom: -10px;
}
label{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
}
.link1{
    color: #ffffff !important;
    font-weight: 700;
    background: #005479;
    padding: 5px 20px 5px 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}
.link1:hover{
   color: #ffffff !important;
    font-weight: 700;
    background: #005479;
    padding: 5px 20px 5px 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    text-decoration: none;
}
.bl {
    color: #005479 !important;
    font-size: 21px;
}
.fb {
    font-weight: bold;
}
.pt-20 {
    padding-top: 20px;
}
.faffds h3{
    font-size: 21px;
}
.faffds h4{
    font-size: 18px;
}
.dsfdsfds h5{
    padding-bottom: 0;
    margin-bottom: 0;
}
.dsfdsfds p{
    padding-bottom: 20px;
}
.blus{
    color: #005479 !important;
}
.blus5{
        display: initial;
        color: #005479 !important;
}
.orgas{
color:#D93E3E !important;
}
.sdfsf .dsfdsfds h5.blus{
    background: #005479 !important;
    color: #ffffff !important;
    padding: 10px !important;
}
.sdfsf .dsfdsfds h5.orgas{
    background: #D93E3E !important;
    color: #ffffff !important;
    padding: 10px !important;
}
.rigsxd{
    padding-right: 9rem;
}
.f21{
    font-size: 21px;
}
.f25{
    font-size: 25px;
}
.erettre h5{
    font-size: 18px;
    margin-bottom:0;
    padding-bottom: 10px; 
}
p{
    color: #333333 !important;
}
.sds li:before {
    background: #FCCF14;
    width: 0.6rem;
    height: 1.7rem;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    bottom: 0;
    margin: auto;
    transition: 0.5s;
}
.sds li{
    border-bottom: 0.1rem solid #ddd;
    padding: 1.2rem 2.5rem !important;
    position: relative;
    color: #313131;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 500;
}
.sds li {
    padding: 0 5rem 0 0;
}
.dfsafdf h4{
    color: #005479 !important;
}
.bosdd{
    background: #005479 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    border-top-left-radius: 10px;
}
.bosdd p{
    color: #ffffff !important;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}
.tadsdsd .nav-tabs .nav-item.show .nav-link, 
.tadsdsd .nav-tabs .nav-link.active{
background: #005479 !important;
padding: 15px 30px 15px 30px;
color: #ffffff;
font-size: 18px;
}
.tadsdsd .nav-tabs .nav-link{
padding: 15px 30px 15px 30px;
color: #333333;
font-size: 18px;
background: #f2f2f2;
}
.text-left{text-align: left;}
.mar-sec ul li{
    padding-bottom: 10px;
}
.sdfdsfs p{
    color: #ffffff !important;
}
.new-kdsf{
    position: relative;
}
.new-kdsf::before{
    content: "";
    width: 35rem;
    height: 100%;
    background: #f6d12e;
    position: absolute;
    top: 0;
    left: -2rem;
    bottom: 0;
    z-index: -1;
}